@font-face {
    font-family:stepmarkmain;
    src: url("./assets/fonts/stepmarkmain.ttf");
}

*{
    font-family:stepmarkmain ;
}

body{
    background-color: white;
    overflow-x: hidden;
}

.hero-overlay{
   background: linear-gradient(to bottom , transparent , transparent,#e9e7e7,white); 
   /* filter: blur(2px); */
}

